.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* margin-top: 3em; */
    /* padding-top: -.3em; */
}
Link {
    /* color: #ffff; */
}
.navbar-item:visited {
    color:rgb(203, 203, 203)
}
.navbar-item:active{
    color:rgb(203, 203, 203)
}
.navbar-item:hover {
    color:blueviolet;
}
.navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    /* color:#ffff; */
}
.title{
    text-align: center;
    color: #e6e6e6;
    text-shadow: 4px -4px 8px #afafaf,
    -4px 4px 8px #ffffff;
    padding-top: 10px;
}