.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding-top: -.3em;
}
Link {
    color: #ffff;
}
Link:visited {
    color:#ffff
}
Link:hover {
    color:blueviolet;
}
.navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    /* color:#ffff; */
}
.title{
    text-align: center;
}
.level{
    padding-top: 15px;
}